<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="centered-text">
    <div *ngIf="REGISTER_COMPONENT">
        <conf-register (registered)="onRegistered()"></conf-register>
        <div style="height: 70px;"></div>
        <div style="text-align: right; width: 70%;">
            <button class="btn btn-primary btn-margin" (click)="onLoginPageButtonClick()">Login page</button>
        </div>
    </div>
    <div *ngIf="LOGIN_COMPONENT">
        <conf-login (logged)="onLogged($event)"></conf-login>
        <div style="height: 70px;"></div>
        <div style="text-align: right; width: 70%;">
            <button class="btn btn-primary btn-margin" (click)="onRegisterNewUserButtonClick()">Register new
                user</button>
        </div>
    </div>
    <div *ngIf="MAIN_MENU_COMPONENT">
        <div class="big-padding-centered-text">
            <table class="table">
                <tbody>
                    <thead>
                        <th class="" thead-dark>CONFERENCE</th>
                    </thead>
                    <tr>
                        <td scope="row">Conference</td>
                        <td scope="row">{{conference?.title}}</td>
                    </tr>
                    <tr>
                        <td scope="row">Organiser</td>
                        <td scope="row">{{conference?.host}}</td>
                    </tr>
                    <tr>
                        <td scope="row">Start time</td>
                        <td scope="row">{{conference?.dateAndTime}}</td>
                    </tr>
                    <tr>
                        <td scope="row">Localization</td>
                        <td scope="row">{{conference?.localization}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button class="btn btn-primary btn-margin" *ngIf="loggedUser?.user.admin"
                (click)="onUpdateConference()">Update
                conference data</button>
            <button class="btn btn-primary btn-margin" *ngIf="loggedUser?.user.admin"
                (click)="onRemoveConference()">Remove
                conference</button>
        </div>
        <p></p>
        <p></p>
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <th scope="col"> </th>
                    <th scope="col">Topic</th>
                    <th scope="col">Lecturer</th>
                    <th scope="col">Abstract</th>
                    <th scope="col">Localization</th>
                    <th scope="col">Date and time</th>
                </thead>
                <tbody>
                    <tr *ngFor="let lecture of lectures">
                        <th *ngIf="shouldShowLecture(lecture)"scope="row"></th>
                        <td *ngIf="shouldShowLecture(lecture)">{{lecture.topic}}</td>
                        <td *ngIf="shouldShowLecture(lecture)">{{determineLecturer(lecture)}}</td>
                        <td *ngIf="shouldShowLecture(lecture)">{{lecture.lectureAbstract}}</td>
                        <td *ngIf="shouldShowLecture(lecture)">
                            <div>{{lecture.localization}}</div>
                            <div *ngIf="loggedUser?.user?.admin">
                                <input (blur)="lectureLocalizationChanged(lecture, $event)" id="inputLocalization"
                                    value="{{lecture.localization}}" />
                            </div>
                        </td>
                        <td *ngIf="shouldShowLecture(lecture)">
                            <div>{{lecture.timeAndDate}}</div>
                            <div *ngIf="loggedUser?.user?.admin">
                                <input (blur)="lectureDateAndTimeChanged(lecture, $event)" id="inputDateAndTime"
                                    value="{{lecture.timeAndDate}}" type="datetime-local" />
                            </div>
                        </td>
                        <div *ngIf="shouldShowButtons(lecture)">
                            <button class="btn btn-primary btn-margin" (click)="acceptLecture(lecture)">Accept</button>
                            <button class="btn btn-primary btn-margin" (click)="deleteLecture(lecture)">Delete</button>
                        </div>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="loggedUser.user.admin" style="align-content: right;"><button (click)="saveLectureChanges()"
                    class="btn btn-primary btn-margin">Save changes</button></div>
        </div>
        <div class="big-padding-centered-text">
            <table class="table">
                <thead>
                    <th class="" thead-dark>USER</th>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">First name</td>
                        <td scope="row">{{loggedUser?.user.firstName}}</td>
                    </tr>
                    <tr>
                        <td scope="row"> Last name</td>
                        <td scope="row">{{loggedUser?.user.lastName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="height: 70px;"></div>
        <div style="text-align: right; width: 70%;">
            <button class="btn btn-primary btn-margin" *ngIf="loggedUser.user.admin" (click)="onUserList()">User
                list</button>
            <button class="btn btn-primary btn-margin" (click)="onUpdateData()">Update data</button>
            <button class="btn btn-primary btn-margin" (click)="onSignOut()">Sign out</button>
        </div>
        <div class="centered-text-blue" *ngIf="!loggedUser.user.alreadyPaid">
            <br />You did not pay for participation yet. Transfer 20$ on 47 1050 1575 1000 0097 1152 5312, please.
            <br />Title: conference_{{loggedUser.user.login}}
        </div>
        <div class="centered-text-green" *ngIf="loggedUser.user.alreadyPaid && !loggedUser.user.admin">
            <br /> Paid was already confirmed by admin.
        </div>
    </div>
    <div *ngIf="EDIT_CONFERENCE_COMPONENT">
        <div *ngIf="!conference" class="centered-text-red">Conference wasn't found. Please add a conference.</div>
        <div>
            <div *ngIf="!conference">
                <h2>Create conference</h2>
            </div>
            <div *ngIf="conference">
                <h2>Update conference</h2>
            </div>
            <h4>Conference name</h4>
            <input id="inputConferenceTitle" value="{{conference?.title}}" />
            <h4>Organiser</h4>
            <input id="inputConferenceHost" value="{{conference?.host}}" />
            <h4>Date and time</h4>
            <input id="inputConferenceDateAndTime" value="{{conference?.dateAndTime}}" />
            <h4>Localization</h4>
            <input id="inputConferenceLocalization" value="{{conference?.localization}}" />
        </div>
        <div *ngIf="!conference">
            <p></p>
            <button class="btn btn-primary btn-margin" (click)="createConference()">Create conference</button>
            <button class="btn btn-primary btn-margin" (click)="goToMainMenu()">Cancel</button>
        </div>
        <div *ngIf="conference">
            <p></p>
            <button class="btn btn-primary btn-margin" (click)="updateConference()">Update conference data</button>
            <button class="btn btn-primary btn-margin" (click)="goToMainMenu()">Cancel</button>
        </div>
        <div style="height: 70px;"></div>
        <div style="text-align: right; width: 70%;">
            <button class="btn btn-primary btn-margin" (click)="onSignOut()">Sign out</button>
        </div>
    </div>
    <div *ngIf="USER_LIST_COMPONENT">
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <th scope="col">Login</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Lecture</th>
                    <th scope="col">Paid</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.user?.login}}</td>
                        <td>{{user.user?.firstName}}</td>
                        <td>{{user.user?.lastName}}</td>
                        <td>{{user.user?.email}}</td>
                        <td>{{user.lecture?.topic}}</td>
                        <td>{{user.user?.alreadyPaid}}</td>
                        <td>
                            <div>
                                <button class="btn btn-primary btn-margin" *ngIf="!user.user?.alreadyPaid"
                                    (click)="setPaid(user)">Paid</button>
                                <button class="btn btn-primary btn-margin" *ngIf="user.user?.login !== 'admin'"
                                    (click)="deleteUser(user)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>>
        <div style="text-align: right; width: 70%;">
            <button class="btn btn-primary btn-margin" (click)="onSignOut()">Sign out</button>
            <button class="btn btn-primary btn-margin" (click)="goToMainMenu()">Main menu</button>
        </div>
    </div>
    <div *ngIf="UPDATE_USER_COMPONENT">
        <h2>Udate data</h2>
        <h4>First name</h4>
        <input id="inputUpdateFirstName" value="{{loggedUser.user.firstName}}" />
        <h4>Last name</h4>
        <input id="inputUpdateLastName" value="{{loggedUser.user.lastName}}" />
        <h4>Email</h4>
        <input id="inputUpdateEmail" value="{{loggedUser.user.email}}" />
        <div *ngIf="loggedUser.user.lecturer && !loggedUser.lecture?.accepted">
            <h4>Lecture title</h4>
            <input id="inputUpdateLectureTitle" value="{{loggedUser.lecture.topic}}" />
            <h4>Abstract</h4>
            <input id="inputUpdateAbstract" value="{{loggedUser.lecture.lectureAbstract}}" />
        </div>
        <div>
            <p></p>
            <button class="btn btn-primary btn-margin" (click)="onUpdateUserClick()">Update</button>
            <button class="btn btn-primary btn-margin" (click)="goToMainMenu()">Cancel</button>
        </div>
    </div>
    <p></p>
    <div *ngIf="!loggedUser?.user?.rodoAccepted && !loggedUser?.user?.admin && !LOGIN_COMPONENT && !REGISTER_COMPONENT"
        style="color: gray;">
        Administratorem Twoich danych jest Aleksy Sp. z o. o. z siedzibą we Wrocławiu ul. Zegadłowicza 1, wpisanej do
        Centralnej Ewidencji i Informacji o Działalności Gospodarczej, pod numerem NIP: 123456789, REGON: 9876543210. W
        sprawach związanych z przetwarzaniem i ochroną danych osobowych wyznaczony został punkt kontaktowy w postaci
        adresu
        e-mail: noResponse@aleksyspzoo.pl Kontakt we wskazanych sprawach możliwy jest także w postaci tradycyjnej
        korespondencji na adres administratora z dopiskiem: „Ochrona Danych Osobowych” oraz osobiście pod adresem [adres
        siedziby bądź miejsca wykonywania działalności].

        Podane przez Ciebie dane osobowe będą przetwarzane w następujących celach:
        – finansowo-księgowych – przetwarzanie jest niezbędne do wykonania przepisów prawa podatkowego,
        – prowadzenia procesów organizacji konferencji
        - weryfikacji płatności
        - identyfikacji w dniu konferencji

        Posiadasz prawo dostępu do treści swoich danych oraz prawo ich sprostowania, usunięcia, ograniczenia
        przetwarzania,
        prawo do przenoszenia danych, prawo wniesienia sprzeciwu (np. jeśli dane są przetwarzane na podstawie Twojej
        zgody
        lub w celach marketingowych czy udostępniania Twoich danych); posiadasz prawo do cofnięcia zgody w dowolnym
        momencie. W celu cofnięcia zgody możesz skontaktować się z punktem obsługi klienta w naszej siedzibie bądź
        biurze
        ul. Zegadłowicza 1 lub wysyłając wiadomość e-mail na adres: noResponse@aleksyspzoo.pl. Masz również prawo
        wniesienia
        skargi do organu nadzorczego – Prezesa Urzędu Ochrony Danych Osobowych.

        Podanie przez Ciebie danych osobowych jest w pełni dobrowolne. Niepodanie danych osobowych będzie skutkowało
        niemożliwością pełnego wykonania zobowiązań, przyjętych przez Aleksy Sp. z o. o. w ramach zawieranych z Tobą
        umów.

        W przypadku braku zgody na powyższe warunki, prosimy o opuszczenie strony, lub kontakt z firmą jedną z metod
        przedstawionych powyżej.
        <div><button class="btn btn-primary btn-margin" (click)=acceptRodo()>Accept RODO</button></div>
    </div>
</div>