.centered-text-red {
    text-align: center; 
    color: red;  
}

.centered-text-green {
    text-align: center; 
    color: green;  
}

.centered-text-blue {
    text-align: center; 
    color: blueviolet;  
}

.centered-text {
    align-content: center;
    padding-left: 15%;   
    padding-right: 15%;   
    padding-top: 5%;      
}

.big-padding-centered-text {
    align-content: center;
    padding-left: 35%;   
    padding-right: 35%;      
}


.centered-table {
    text-align: center;   
    margin-left: 35%;
}

.btn-margin {
    margin: 10px;
}