<div class="centered-text">
    <h2>Register</h2>
    <h4>Login</h4>
    <input id="inputNewLogin" />
    <h4>Password</h4>
    <input id="inputNewPassword" type="password" />
    <h4>First name</h4>
    <input id="inputNewFirstName" />
    <h4>Last name</h4>
    <input id="inputNewLastName" />
    <h4>Email</h4>
    <input id="inputNewEmail" />
    <h4>Do you want to register as lceturer?</h4>
    <input id="inputAsLecturer" type="checkbox" (change)=registeringAsLecturer()/>
    <div *ngIf="registeringAsLecturer()">
            <h4>Lecture title</h4>
            <input id="inputNewLectureTitle" />
            <h4>Abstract</h4>
            <textarea class="textare" id="inputNewAbstract"></textarea>
    </div>
</div>
<div class="centered-text">
    <p></p>
    <button (click)="onRegisterClick()">Register</button>
</div>