<div class="centered-text">
    <h2>Conferences</h2>
    <h4>Login</h4>
    <input id="inputLogin" />
    <h4>Password</h4>
    <input id="inputPassword" type="password" />
</div>
<div class="centered-text">
    <p></p>
    <button class="btn btn-primary btn-margin" (click)="onLoginClick()">Login</button>
</div>